<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - spgnn</title>
    <link rel="stylesheet" href="~/lib/fonts/helvetica/stylesheet.css"/>
    <link rel="stylesheet" href="~/lib/fonts/raleway/raleway.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link type="text/css" rel="stylesheet" href="~/lib/skeleton/css/skeleton.css" media="screen,projection"/>
</head>

<body>
<header class="container">
    <ul class="navbar">
        <li class="navbar-item">
            <a class="navbar-button" asp-controller="Home" asp-action="Index">Семеновская православная гимназия</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-button" asp-controller="NewsList" asp-action="show">Новости</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-button">Сведения</a>
        </li>
        @Html.PartialAsync("LoginPartial").Result
    </ul>
</header>
<div class="container px-0">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - spgnn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>


</html>