@using System.Security.Claims
@if (User.Identity.IsAuthenticated)
{
    var identity = User.Identities.FirstOrDefault();
    var claims = new List<Claim>();
    var userName = "Пользователь";
    if (identity != null)
    {
        claims = identity.Claims.ToList();
        var nameClaim = claims.FirstOrDefault(x => x.Type.Equals(ClaimsIdentity.DefaultNameClaimType));
        if (nameClaim != null)
        {
            userName = nameClaim.Value;
        }
    }
    <li class="navbar-item-right">
        <div class="dropdown">
            <div class="navbar-button dropdown-button">@userName</div>
            <div class="dropdown-content">
                <a asp-action="Logout" asp-controller="Account">Выход</a>
            </div>
        </div>
    </li>
    
}
else
{
    <li class="navbar-item-right">
        <div class="dropdown">
            <div class="navbar-button dropdown-button" onclick="location.replace('/user/startlogin')">Вход на сайт</div>
            <div class="dropdown-content">
                <a asp-action="Register" asp-controller="Account">Регистрация</a>
            </div>
        </div>
    </li>
}