@using spgnn.ViewModels;
@model LoginViewModel;

@{
    ViewBag.Title = "Логин";
    Layout = "_Layout";
}

<form asp-controller="Account" asp-action="EndLogin" method="post">
    <div class="row">
        <input class="five columns" type="text" asp-for="UserName" placeholder="Логин"/>
        <span class="seven columns" asp-validation-for="UserName"></span>
    </div>
    <div class="row">
        <input id="passwordBox" class="five columns" type="password" asp-for="Password" placeholder="Пароль"/>
        <button type="button" class="button-primary" onclick="showPass()">Показать пароль</button>
        <span class="seven columns" asp-validation-for="Password"></span>
    </div>
    <div class="row">
        <button type="submit" class="button-primary">Вход</button>
    </div>
</form>

<script>
function showPass() {
        const passBox = document.getElementById('passwordBox');
        if (passBox.type === 'password'){
                passBox.type = "text";
            }
        else{
            passBox.type = "password";    
        }
    }
</script>