@using spgnn.Models;
@model Article;

<h1>
    @Model.Title
</h1>
<small class="text-muted">@Model.Date</small>

<div class="mw-100">
    <div style="word-break: break-all;">@Html.Raw(Model.Text)</div>
</div>